<div class="mt-4" style="display: flex ;  overflow: hidden;">
    <div class="col-lg-3" style="">
        <button>Nghe Ngay {{songs.author}}</button>
    </div>

    <div class="col-lg-9">
        <h3>{{songs.name}}</h3>
        <img src={{songs.url}} />
        <p >{{songs.url}}</p>
        <a rel="stylesheet" href={{songs.url}}>Truy Cập </a>
    </div>
</div>